#!/hint/bash
# Configuration file for rofi-bwrbw.
# Uncomment the lines you want to override.

##== Key bindings
# Kb_TypeUsername='Ctrl+Alt+u'
# Kb_TypePassword='Ctrl+Alt+p'
# Kb_TypeOTP='Ctrl+Alt+t'
# Kb_OpenURL='Ctrl+Alt+l'
# Kb_CopyUsername='Ctrl+Alt+comma'
# Kb_CopyPassword='Ctrl+Alt+period'
# Kb_CopyOTP='Ctrl+Alt+minus'
# Kb_CopyURL='Ctrl+Alt+m'
# Kb_QR='Ctrl+Alt+q'
# Kb_Generate='Ctrl+Alt+g'
# Kb_Add='Ctrl+Alt+a'
# Kb_Edit='Ctrl+Alt+e'
# Kb_Remove='Ctrl+Alt+Delete'
# Kb_View='Ctrl+Alt+v'
# Kb_History='Ctrl+Alt+n'
# Kb_ClearLastUsed='Ctrl+Alt+c'
# Kb_Sync='Ctrl+Alt+s'
# Kb_Help='F1'

# EmptyUserPlaceholder=-

# Clipboard=clipboard
# QRImageViewer=xdg-open
# Notify=true

##== Type Options
# TypeKeyDelay=0
# TypeSleep=.2

##== Prompt/Appearance
# Prompt=' Bitwarden'
# PromptSelectFolder=' Select folder'
# PrefixUser=' '
# Icon=unlock
# IconLastUsed=recently_used
# NoFolder=true
# NoIcons=false

##== Last used file location & max item size
# LastUsedFile=~/.cache/rofi-rbw.cache
# LastUsedMax=4

##== Generate Options
# PasswordLength=21
# PasswordNoSymbols=true

##== Editor to use when the script is not started from terminal
# Editor="$TERMINAL -e nvim -ni NONE"

##== Custom Rofi command
## E.g. increase window width by adding:
##        -theme-str 'window {width: 60%;}'

# _rofi() {
#	rofi -dmenu -i -l 10 "$@"
# }

